{% extends 'webapp/base.html' %}


{% load crispy_forms_tags %}


{% block content %}
 <body>

  <div class = "container bg-light shadow-high p-5 form-layout">

    <h3> Create Your Account </h3>
    <h5> Start Managing Your Clients Today! </h5>

    <hr>
    <br>


    <form method = "POST" autocomplete="off">

        {% csrf_token %}


        {{form1|crispy}}
        <br>

        <button type = "submit" class ="btn btn-primary w-100 btn-block p-2">Create Your Account</button>
        



    </form>

    <br>

    <div class = "text-center">


        <p>
            You already have an account
        </p><a href = "{% url 'login' %}"> Login </a>

    </div>

  </div>


 </body>
{% endblock %}